* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(217, 218,214,1) 85%, rgba(0,151,135,1) 85%);
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 50px;
    float: left;
}

.container {
    width: 1000px;
    height: 700px;
    /* background-color: yellow; */
    display: flex;
}

.container::after {
    content: '';
    display: table;
    clear: both;
}

.container i {
    color: grey;
    font-size: 20px;
    cursor: pointer;
}

/* parte destra */
.container .left {
    width: 35%;
    height: 100%;
    background-color: #e5e5e5;
    border-right: 1px solid lightgrey;
    float: left;
}

.lista-messaggi li{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid lightgrey;
    padding: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}
.my-avatar-left {
    width: 50%;
    float: left;
}
.my-icon-left {
    width: 50%;
    float: right;
    padding-left: 70px;
}

.my-icon-left i {
    padding-right: 10px;
}

.searchFriend {
  height: 50px;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.searchFriend i {
  color: #b5b3af;
  font-size: 14px;
  margin-left: 10px;
  background-color: white;
  padding: 10px 200px;
  border-radius: 5px 0 0 5px;
  padding: 13 8px;
  float: right;

}

.searchInput {
  border: none;
  border-radius: 0 5px 5px 0;
  border: none;
  width: 90%;
  margin-right: 10px;
  height: 40px;
  padding: 10px;
}


.nomeAmico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.anteprimaMsg{
    font-size: 12px;
    color: grey;
    width: 200px;
    padding-top: 5px;
}

/* parte sinistra */
.container .right {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: lightblue; */
}

.container .right-top {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e5e5e5;
    padding: 0 10px;
    border-bottom: 1px solid lightgrey;
}

.right-top .img-friend-right{
    max-width: 50%;
    float: left;
    padding-left: 15px;
    /* background-color: red; */
}

.right-top .img-friend-right img{
    padding-right: 5px;
}

.right-top .icone-right{
    max-width: 50%;
    float: right;
    /* background-color: yellow; */
    padding-right: 15px;
}

.right-top .icone-right i{
    padding-left: 10px;
}

.container .right-middle {
    height: calc(100% - 140px);
    padding: 20px;
    background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
    background-size: cover;
    overflow-y: auto;
}


.received {
    background-color: white;
    float: left;
    padding: 15px;
    margin: 5px 10px 5px 10px;
    clear: both;
    border-radius: 10px;
}

.sent {
    background-color: #daffb5;
    float: right;
    padding: 15px;
    margin: 5px 10px 5px 10px;
    clear: both;
    border-radius: 10px;
}

.container .right-bottom {
    height: 70px;
    width: 100%;
    background-color: #e0e0e0;
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-bottom input {
    width: 80%;
    height: 50px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
}

.right-bottom i {
    margin: 20px;
}
